@media(max-width: 425px){
    .navBar li{
                a{
            font-size: 15px;
        }
    }

    .col-2{
        width: 100%;
        font-size: 15px;
    }

    .col-3{
        width: 100%;
        font-size: 15px;
    }

    .carousel-inner{
        min-width: 400px;
    
    }

    .carousel-control-next{
        left: 350px;
    }

}