@media(max-width: 480px){
    main h1{
        font-size: 40px;
    }
    .navBar li a{
        font-size: 20px;
    }

    .carousel-inner{
        min-width: 400px;
    
    }

    .col-2{
        font-size: 10px;        
    }

    .col-3{
        font-size: 10px;
    }

    .carousel-control-next{
        left: 360px;
    }
}