.carousel-inner div{
                    h5{
                    color:rgb(0, 0, 12);
                    background-color: $background;
    }
                    p{
                background-color: $background;
    }
}

.col-4{
    color: rgb(148, 18, 18);
}