header{
    @include flexheader;

    nav{
            ul{
                @include flexul;
                li{
                    @include flexli;
                    a{
                        @include nav-estilos;
                        &:hover{
                            color: black;
                            text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.432);
                        }
                        &:active{
                            color: rgb(194, 129, 8);
                        }
                    }
                    }
                }
            }

}

